{% extends "index.html" %}<!--Permite heredar el template de otro archivo y tiene prioridad-->
<!--Para introducir contenido unico de este template se debe usar los codigo de django-->
{% block titulo %} <!--Sirve para asignarle un titulo propio al template-->
    Creación de Autores
{% endblock titulo %}

{% block body %}
    <form method="POST">
        {% csrf_token %}<!--Codigo necesario para el envio de la BD por el metodo POST-->
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            {{ autor_form.as_p }} <!--Funcion de django el cual permite pintar un label e imput automaticamente, de la clase ubicada en forms.py--> 
            
            {% if var == 1 %}
                <button type="submit">Editar</button>
            {% else %}
                <button type="submit">Crear</button>
            {% endif %}
             
        {% endif %}
         
    </form>
{% endblock body %}
