<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titulo %}Index{% endblock titulo %}</title>
    {% block extracss %}<!--Permite identificar el css unico de la pagina en django-->
    {% endblock extracss %}    
</head>
<body>
    {% block body %}<!--Permite identificar el body unico de la pagina en django-->
        <h1>Este es el index de mi proyecto</h1>
    {% endblock body %}


    {% block extrajs %}<!--Permite introducir codigo javascripts unico de esta pagina-->
    {%endblock extrajs %}
</body>
</html>